In [1]:
import pandas as pd

In [29]:
df = pd.DataFrame({"A":[0, 1, 2, 3, 0, 0],  
                   "B":[11, 5, None, None, None, 8], 
                   "C":[None, 5, 10, 11, None, 8]}) 
  
# Printing the dataframe 
df

   A     B     C
0  0  11.0   NaN
1  1   5.0   5.0
2  2   NaN  10.0
3  3   NaN  11.0
4  0   NaN   NaN
5  0   8.0   8.0

In [30]:
df.replace(0,'NaN')

     A     B     C
0  NaN  11.0   NaN
1    1   5.0   5.0
2    2   NaN  10.0
3    3   NaN  11.0
4  NaN   NaN   NaN
5  NaN   8.0   8.0

In [31]:
df.fillna(method = 'ffill')

   A     B     C
0  0  11.0   NaN
1  1   5.0   5.0
2  2   5.0  10.0
3  3   5.0  11.0
4  0   5.0  11.0
5  0   8.0   8.0