In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15,6
from datetime import datetime

In [2]:
dataset = pd.read_csv("ALLMONTHS.csv")

In [3]:
dataset = dataset.set_index('period')

In [5]:
dataset.head()

,Year,Month,Day,Hour,AP,C6,CO,NO,NO2,NOX,...,PM25,RF,RH,RT,SO2,SR,TOL,WD,WS,XYL
period,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,2016,1,1,0,953.25,0.46,1.51,20.11,68.99,89.10,...,75.25,0.0,58.18,17.72,40.58,0.11,3.23,16.39,0.41,2.35
2016-01-01 01:00:00,2016,1,1,1,952.98,0.27,1.22,20.50,68.79,89.29,...,101.77,0.0,61.08,16.91,40.46,0.02,2.18,16.33,0.53,1.53
2016-01-01 02:00:00,2016,1,1,2,952.69,0.14,1.05,20.89,66.25,87.13,...,83.33,0.0,62.52,16.43,38.97,0.01,1.65,16.30,0.45,1.08
2016-01-01 03:00:00,2016,1,1,3,952.45,0.17,0.98,21.09,66.43,87.51,...,61.98,0.0,64.72,15.66,39.07,0.00,1.30,16.25,0.29,0.76
2016-01-01 04:00:00,2016,1,1,4,952.43,0.12,0.93,21.21,67.40,88.61,...,69.2,0.0,68.06,14.93,39.65,0.00,1.15,16.23,0.28,0.60

In [6]:
#missing value treatment
cols = ['AP','C6','CO','NO','NO2','NOX','O3','PM10','PM25','RH','RT','SO2','TOL','WD','WS','XYL']
for j in cols:
    for i in range(0,len(dataset)):
        if dataset[j][i] == 0:
            dataset[j][i] = dataset[j][i-1]

C:\Users\Rishikesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
for i in range(0,len(dataset)-1):
    print(i)
    dataset['PM10'][i] = dataset['PM10'][i].replace(',','')
dataset['PM10'] = pd.Series(map(float,dataset['PM10']))

In [ ]:
for i in range(0,len(dataset)-1):
    print(i)
    dataset['PM25'][i] = dataset['PM25'][i].replace(',','')
dataset['PM25'] = pd.Series(map(float,dataset['PM25']))

In [ ]:
for k in cols:
    print("Property => {}   | Stable => {}".format(k, dataset[k].product()))